{% extends 'base2.html' %}

{% block content %}
  <table class="table table-hover">

   <thead class='table-light'>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Обозначение</th>
      <th scope="col">Тема</th>
      <th scope="col">Содержание</th>
      <th scope="col">От кого</th>
      <th scope="col">Дата</th>
    </tr>
  </thead>
    <tbody>
    {% for p in posts %}
    <tr>
      <th scope="row">{{ p.id }}</th>
      <td>{{ p.notification }}</td>
      <td>{{ p.project.title }}</td>
      <td>{{ p.content }}</td>
      <td>{{ p.from_whom }}</td>
      <td>{{ p.date }}</td>
    </tr>
    {% endfor %} 
  </tbody>
</table>
{% endblock %}

