{% extends 'base2.html' %}

{% block content %}
  <table class="table">

  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Обозначение</th>
      <th scope="col">О чем</th>
      <th scope="col">Тема</th>
      <th scope="col">Дата</th>
      <th scope="col">Фамилия</th>
    </tr>
  </thead>
    <tbody>
    {% for p in posts %}
    <tr>
      <th scope="col">{{ p.id }}</th>
      <th scope="col">{{ p.notification }}</th>
      <th scope="col">{{ p.about }}</th>
      <th scope="col">{{ p.theme }}</th>
      <th scope="col">{{ p.date }}</th>
      <th scope="col">{{ p.worker }}</th>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}