{% extends 'base2.html' %}

{% block content %}

<div class="accordion" id="accordionFlushExample">
    {% for p in posts %}
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">

                {{ p.title }}
    </button>
        </h2>
       <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
      <div class="accordion-body">
                <table class="table table-hover">

                    <thead class="table-light">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Наименование</th>
                        <th scope="col">Отчетная документация</th>
                        <th scope="col">Дата начала</th>
                        <th scope="col">Дата окончания</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for t in table %}
                    {% if p.title == t.project.title %}
                    <tr>
                        <th scope="row">{{ t.id }}</th>
                        <td>{{ t.title }}</td>
                        <td>{{ t.document }}</td>
                        <td>
                            {{ t.date_start|default:"Определяется отдельным договором"|date:"d.m.Y" }}
                        </td>
                        <td>
                            {{ t.date_finish|default:"Определяется отдельным договором"|date:"d.m.Y" }}
                        </td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% endfor %}

</div>

{% endblock %}
