{% extends 'base2.html' %}

{% block content %}
  <table class="table table-hover">

  <thead class="table-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">ФИО</th>
      <th scope="col">Дата рождения</th>
      <th scope="col">Должность</th>
      <th scope="col">Почта</th>
      <th scope="col">Мобильный телефон</th>
    </tr>
  </thead>
    <tbody>
    {% for p in posts %}
    <tr>
      <th scope="col">{{ p.id }}</th>
      <td>{{ p.surname }} {{ p.name }} {{ p.lastname }}</td>
      <td>{{ p.date_of_birth }}</td>
      <td>{{ p.job }}</td>
      <td>{{ p.email }}</td>
      <td>{{ p.mobile_str }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}