{% extends 'base2.html' %}

{% block content %}
  <table class="table">

  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">ФИО</th>
      <th scope="col">Дата рождения</th>
      <th scope="col">Должность</th>
      <th scope="col">Почта</th>
      <th scope="col">Мобильный телефон</th>
    </tr>
  </thead>
    <tbody>
    {% for p in posts %}
    <tr>
      <th scope="col">{{ p.id }}</th>
      <th scope="col">{{ p.surname }} {{ p.name }} {{ p.lastname }}</th>
      <th scope="col">{{ p.date_of_birth }}</th>
      <th scope="col">{{ p.job }}</th>
      <th scope="col">{{ p.email }}</th>
      <th scope="col">{{ p.mobile_number }}</th>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}